*.vvp
*.lxt
*.blif
*.bin
.vscode
*.vcd
*.npz
*.pgm
*.png
*.xml
*.f
*.pdf
python/nmigen/*.v
python/migen/*.v
python/migen/tutorial/
python/nmigen/*.vcd
python/myhdl/
pwm.py
*.swp
obj_dir/
*.json
*.asc
*.txt
drawing.svg
xilinx
cntr_intel
cntr_sync_load
__pycache__/
*.cf
*.gtkw
hdlEnv/
