#------ User LEDs
set_io --warn-no-port LED3 4  #-- output
set_io --warn-no-port LED2 3  #-- output
set_io --warn-no-port LED1 2  #-- output 
set_io --warn-no-port LED0 1  #-- output

# -------------------------- SYSTEM CLOCK -------------------------------------
set_io --warn-no-port CLK 94  # input
